.years-list-page nav a {
  display: none;
}

.years-list { 
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 5% 0 0 0;
  padding: 0;
}

.years-list li {
  height: 150px;
  width: 45%;
  font-size: 14px;
  font-weight: 550;
}

.years-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #518ce2;
  border: solid 1px rgb(227, 227, 227);
  border-radius: 4px;
}

.years-list li a .year {
  font-size: large;
  padding-top: 8px;
}

.years-list li a .total-revenue {
  padding-bottom: 8px;
}